.row
  %legend Οι τελευταίες προσφορές σας
  - unless @posts
    %p Δεν έχετε προσθέσει προσφορές :(
  - else
    #offers
      = render partial: :post, collection: @posts

.row
  %legend Αγαπημένες προσφορές
  -unless @favorites
    %p Δεν έχετε επιλέξει αγαπημένες προσφορές :(
  - else
    "boo"
