=link_to 'Προσθήκη προσφοράς', new_post_path, class: 'btn btn-primary btn-block btn-large'

%br

%ul.nav.nav-tabs.nav-stacked.sidebar
  %li.title Ετικέτες
  %li
    =link_to root_path do
      'Ολες
      %span.badge.badge-success=@tags.length
  - @tags.each do |tag|
    %li.sidebar-link
      =link_to tagged_offers_path(tag.name) do
        =tag.name
        %span.badge.badge-error= tag.count
