=link_to 'Προσθήκη προσφοράς', new_post_path, class: 'btn btn-primary btn-block btn-large'

%br
.btn-toolbar
  .btn-group
    %button.btn.btn-small
      = current_city
    %button.btn.btn-small.dropdown-toggle{ "data-toggle" => "dropdown" }
      %span.caret
    %ul.dropdown-menu{ role: "menu", :"aria-labelledby" => "dropdownMenu" }
      %li=link_to "Σε όλες τις πόλεις", posts_path unless @current_city.nil?
      - @cities.each do |city|
        %li
          =link_to city.name, city_offers_path(city.name)


%ul.nav.nav-tabs.nav-stacked.sidebar
  %li.title Ετικέτες
  %li{ class: all_tags_class }
    =link_to path_for_all_tags do
      'Ολες
      %span.badge.badge-success=@tags.length
  - @tags.each do |tag|
    %li.sidebar-link{ class: class_for_tag(tag) }
      =link_to path_for_tag(tag) do
        =tag.name
        %span.badge.badge-error= tag.count
