#posts.thumbnails
  - @posts.each do |post|
    .span3
      .post.thumbnail{ style: 'cursor: pointer' }
        .caption.well
          =link_to offer_path(post) do
            .row
              %h6=post.name
            .row
              %p.body.limit-text
                =post.body
                - if post.body and post.body.length > 180
                  ="..."
        .row
          %small.tags.pull-right
            - post.tags.each do |t|
              %span.label.label-warning=t.name
