#post
  .row
    %h3.title
      = @post.name
      %small= @post.city ? @post.city.name : "Σε όλες τις πόλεις"
    .body.well
      =simple_format(@post.body)
      %br
      =link_to @post.link, @post.link
  .row.pull-right
    %small.tags
      - @post.tags.each do |t|
        %span.label.label-tag
          =link_to t.name, tagged_offers_path(t.name)
  .row
    .created_at= "Πρόστέθηκε στις #{l @post.created_at}"
