#post
  .row
    %h3.title= @post.name
    %p.body.well
      =@post.body
  .row.pull-right
    %small.tags
      - @post.tags.each do |t|
        %span.label.label-warning=t.name
  .row
    .created_at= "Πρόστέθηκε στις #{l @post.created_at}"
