// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post
  padding: 5px
  margin-bottom: 20px
  border-radius: 5px

  .body
    overflow: hidden
    text-overflow: ellipsis
    display: box
    word-wrap: break-work
    max-height: 4.6em
    line-height: 1.8em

  .caption
    padding-top: 0px
    padding-left: 40px
    height: 100px

  .title
    font-family: "Helvetica Neue",sans-serif
    border-bottom: 1px solid #EBEBEB
    border-radius: 5px 5px 0 0
    font-size: 16px
    font-weight: bold
    line-height: 18px
    margin: -20px -15px  0px -15px
    padding: 14px

.sidebar
  span
    float: right

  li.title
    border: 1px solid #DDDDDD
    border-radius: 0
    line-height: 20px
    padding: 8px 12px
    font-weight: bold

.tags
  .label
    text-transform: capitalize
    font-size: 10px

a.favorite.active
  opacity: 0.5
