.container
  %p ExtractMethod  © copyright 2013 all rights reserved
  %p
    Για σχόλια και εισηγήσεις
    = mail_to "despo@extractmethod.com", "επικοινωνήστε", subject: "Σχετικά με το tsent.in"
    μαζί μας
